html{
    margin: 0;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    top: 0;
    right: 0;
    background: fixed;
}
.portfolio-hero{
    background: url(../img/bg.jpg) center center;
    height: 100vh;
    text-align: center;
    color:white;
    background-size: cover;
}
.portfolio-hero ul{
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 1.5rem;

}
.portfolio-hero ul li{
    list-style: none;
    margin-left: 110px;
    margin-right: 110px;
    color: white;
}
.portfolio-hero .menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.porfolio-profile{
    width: 650px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}
.porfolio-profile img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-style: solid;
    margin-top: -100px;
}
.porfolio-profile h1{
    font-weight: 300;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.porfolio-profile h3{
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-size: 30px;
    margin-top: -10px;
}
.portfolio-hero ul li:hover{
    background-color: black;
    font-size: 30px;
    padding: 20px;
}

/*MAIN*/
#main{
    text-align: center;

}
#aboutme{
    background-color: darkslategray;
    margin-top: -30px;
    margin-bottom: -25px;
    color: white;
    padding:30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#aboutme h2{
    color: white;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#skills{
    background-color: darkolivegreen;
}
#skills h2{
    text-align: center;
    color: white;
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
.skill-main-grid{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#contact img{
    height: 30px;
    width: 30px;
}
#contact{
    background-color: lightslategrey;
    padding:10px;
    font-size: 18px;
}
label{
    font-size: 20px;
}
table td{
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: white;
}
table a{
    text-decoration: none;
    color: white;
}
img.skillsimg{
    height: 200px;
    width: 200px;
}
.skill-grid1{
    background-color: darkslateblue;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:20px;
}
.skill-grid2{
    background-color: darkcyan;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:20px;
}
.skill-grid3{
    background-color: maroon;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:20px;
}
.skill-grid4{
    background-color: midnightblue;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:20px;
}
i{
    font-size: 15px;
}
footer{
    padding: 10px;
    background-color: darkslategray;
    color: white;
}
.form-row{
    height: 100px;
}
form{
    padding:10px;
}
.form-input-textarea{
    position: absolute;
    margin-top: 30px;
    margin-left: -232px;
    width: 500px;
    height: 50px;
}
.form-label-message{
    position: absolute;
    margin-left: -322px;
    margin-top: 40px;
}
.form-label-subject{
    position: absolute;
    margin-left: -312px;
    margin-top: 0px;
}
.form-input-text{
    width:500px;
    position: absolute;
    margin-left: -232px;
}
.skill-grid1:hover{
    font-size: 18px;
    width: 380px;
    height: 380px;
}
.skill-grid2:hover{
    font-size: 18px;
    width: 380px;
    height: 380px;
}
.skill-grid3:hover{
    font-size: 18px;
    width: 380px;
    height: 380px;
}
.skill-grid4:hover{
    font-size: 18px;
    width: 380px;
    height: 380px;
}
#sendMail{
    background-color:white;
    padding: 5px;
    text-decoration: none;
    color: black;
    position: absolute;
    margin-top: 57px;
    margin-left: 290px;
}

/*CSS for mobile*/
@media screen and (max-width: 700px){
    .skill-grid1{
        background-color: darkslateblue;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding:20px;
    }
    .skill-main-grid p{
        font-size: 3vmin;
    }
    .skill-grid2{
        background-color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding:20px;
    }
    .skill-grid3{
        background-color: maroon;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding:20px;
    }
    .skill-grid4{
        background-color: midnightblue;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding:20px;
    }
    .skill-main-grid{
        color: white;
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
    html, body{
        overflow-x: hidden;
        position: sticky;
    }
    .portfolio-hero ul li{
        list-style: none;
        margin-left: 5vmin;
        margin-right: 5vmin;
        color: white;
        font-size: 12px;
    }
    .porfolio-profile img{
        height: 45vmin;
        width: 45vmin;
        margin-left: 10px;
        position: sticky;
    }
    .porfolio-profile h1{
        position: sticky;
        font-size: 4vmin;
    }
    .porfolio-profile h3{
        position: sticky;
        font-size: 4vmin;
    }
    img.skillsimg{
        height: 80px;
        width: 80px;
        position: sticky;
    }
    .con{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        position: sticky;
        font-size: 4vmin;
    }
    .form-input-text{
        width: 202px;
        position: sticky;
        margin-left: 90px;
    }
    .form-input-textarea{
        position: sticky;
        width: 200px;
        margin-left: 90px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .form-label-message{
        margin-left: 0px;
        position: absolute;
        font-size: 5vmin;
    }
    .form-label-subject{
        margin-left:-2px;
        position: absolute;
        font-size: 5vmin;
    }
    #sendMail{
        position: sticky;
        margin-left: 30px;
    }
    .form-row{
        height: 150px;
    }
}
